@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Parkinsans:wght@300..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

#container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

#container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

#container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  #container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  #container .ql-toolbar.ql-snow {
    display: none;
  }
}
.imgbg {
  background-image: url("https://images.unsplash.com/photo-1497296690583-da0e2a4ce49a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gfont {
  font-family: "Parkinsans", sans-serif;
}
